@import "bootstrap/dist/css/bootstrap.min.css";

/** {
	border: 1px dashed red;
	min-height: 10px;
}*/

body{
    background: white;
}

img {
    width: 400px;
}

.tecla {
    padding: 4px;
    margin: 2px;
    background-color: darkgrey;
    border-radius: 5px;
}